<!-- <img class="gifs" src="{{info.title}}" alt="{{info.altText}}"> -->
<div id="universal_video_background_default" style="display:none;">
                <!-- IMAGES -->
                <ul class="universal_video_background_list">               
                    <li data-bottom-thumb="images/video_background/thumbs/ytb_full_01_img.jpg" data-youtube="ucivXRBrP_0"></li>
                    <li data-bottom-thumb="images/video_background/thumbs/ytb_full_02_img.jpg" data-youtube="3wbvpOIIBQA"></li>
                    <li data-bottom-thumb="images/video_background/thumbs/ytb_full_03_img.jpg" data-youtube="MDtmoV4CdCo"></li>
              </ul>       
           </div>
