<div full-width-video id="universal_video_background_default" style="display:none;">
    <div class="controls-container" ng-style="{'background-image': 'url({{hero.thumbnail}})'}">
        <div class="play-pause-btn" data-click="0">Play</div>
        <div class="progress">
            <div class="video-progress">
                <div></div>
            </div>
        </div>
    </div>
    <ul class="universal_video_background_list">
        <li data-bottom-thumb="{{hero.thumbnail}}" data-selfhostedMP4="{{hero.url}}"></li>
    </ul>
</div>
