<!-- Newsletter Pop Up -->
<!-- ng-show="showNewsletter" -->
<div class="newsletter" ng-show="showNewsletter">
    <div class="wider-main">
        <div class="row no-pad">
            <div class="large-3 show-for-large columns no-pad">
                <p> Newsletter</p>
            </div>
            <div class="small-12 large-8 columns no-pad">
                <div class="small-12 columns no-pad">
                    <div class="small-12 columns no-pad">
                        <div class="small-11 large-12 columns no-pad">
                            <div class="form-group">
                                <p> Subscribe to our newsletter to receive good wholesome stuff, once a month or thereabouts. </p>
                            </div>
                        </div>
                        <div class="small-1 hide-for-large columns no-pad">
                            <button class="mobile-close-btn" ng-click="showNewsletter = false">
                                <p>X</p>
                            </button>
                        </div>
                    </div>
                    <form class="small-12 columns no-pad" autocomplete="off">
                        <div class="form-group">
                            <!-- <form action="http://brandnewmedia1.createsend.com/t/j/s/nuyuri/" method="post" id="subForm"> -->
                            <div class="fieldName">
                                <input id="fieldName" name="cm-name" type="text" placeholder="Name" />
                            </div>
                            <div class="fieldEmail">
                                <input id="fieldEmail" name="cm-nuyuri-nuyuri" type="email" required placeholder="Email Address" />
                            </div>
                            <div>
                                <button class="newsl-btn" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="show-for-large large-1 columns no-pad">
                <button class="close-btn" ng-click="showNewsletter = false">
                    <p> close </p>
                </button>
            </div>
        </div>
    </div>
</div>