<div class="" style="margin-left: 0px; width: 100%;">
    <div class="row no-pad">
        <div class="medium-12 columns no-pad">
            <div id="example" class="mightyslider_modern_skin black">
                <div class="frame" data-mightyslider="width: 1385, height: 768">
                    <div class="slide_element">
                        <div class="slide" data-mightyslider="cover: 'images/AB1PpQlRyds.jpg', title: 'Neque porro quisquam est qui', photographer: 'MARCUS ERIKSSON', description: 'Integer viverra felis a nisl volutpat placerat. Donec et lorem mauris.'"></div>
                        <div class="slide active" data-mightyslider="cover: 'http://dummyimage.com/1280x720/0ac2d2/fff.png', title: 'Integer viverra felis a nisl volutpat placerat', photographer: 'MARCUS ERIKSSON', description: 'Proin pellentesque urna nulla. Nunc sed turpis semper, fermentum ipsum quis, ornare enim. Proin ut augue enim.'"></div>
                        <div class="slide" data-mightyslider="cover: 'images/AB1PpQlRyds.jpg', video: 'http://vimeo.com/32685545', title: 'Donec dignissim est ut ligula', photographer: 'MARCUS ERIKSSON', description: 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.'">
                            <div class="mSCaption">
                                You can use direct video url
                                <br>for full-sized videos &amp; covers
                            </div>
                        </div>
                        <div class="slide" data-mightyslider="cover: 'http://dummyimage.com/1280x720/60d7a9/fff.png', title: 'Neque porro quisquam est qui', photographer: 'MARCUS ERIKSSON', description: 'Nullam volutpat purus vel eleifend venenatis. Nulla bibendum mi sit amet elit convallis imperdiet.'"></div>
                        <div class="slide" data-mightyslider="cover: 'http://dummyimage.com/1280x720/fdc162/fff.png', title: 'Integer viverra felis a nisl volutpat placera', photographer: 'MARCUS ERIKSSON', description: 'Integer viverra felis a nisl volutpat placerat. Donec et lorem mauris.'"></div>
                        <div class="slide" data-mightyslider="cover: 'http://dummyimage.com/1280x720/00aa00/fff.png', title: 'Donec dignissim est ut ligula', photographer: 'MARCUS ERIKSSON', description: 'Proin pellentesque urna nulla. Nunc sed turpis semper, fermentum ipsum quis, ornare enim. Proin ut augue enim.'"></div>
                    </div>
                    <a class="mSButtons mSPrev"></a>
                    <a class="mSButtons mSNext"></a>
                </div>
                <!--     <div class="details">
        <h3 id="title"></h3>
        <h4 id="photographer"></h4>
        <p id="description"></p>
    </div> -->
            </div>
        </div>
    </div>
</div>
