<div class="main">
    <div class="row no-pad">
        <div class="medium-12 columns no-pad">
            <div id="example" class="mightyslider_modern_skin black">
                <div class="frame" data-mightyslider="width: 1385, height: 768">
                    <div class="slide_element">
                        <div class="slide" data-mightyslider="cover: 'images/AB1PpQlRyds.jpg', video: 'http://www.youtube.com/watch?v=AB1PpQlRyds', title: 'Love is a Roller Coaster | Episode 1 - Coney Island'"></div>
                        <div class="slide" data-mightyslider="cover: 'images/AB1PpQlRyds.jpg', video: 'http://www.youtube.com/watch?v=RgQWG04aszM', title: 'ove is a Roller Coaster | Episode 2 - Ferris Wheel'"></div>
                        <div class="slide" data-mightyslider="cover: 'images/AB1PpQlRyds.jpg', video: 'http://www.youtube.com/watch?v=XoQZPFQTTBM', title: 'Love is a Roller Coaster | Episode 3 - Hair Raiser'"></div>
                        <div class="slide" data-mightyslider="cover: 'images/AB1PpQlRyds.jpg', video: 'http://www.youtube.com/watch?v=XoQZPFQTTBM', title: 'Love is a Roller Coaster | Episode 3 - Hair Raiser'"></div>
                        <div class="slide" data-mightyslider> </div>
                    </div>
                    <a class="mSButtons mSPrev"></a>
                    <a class="mSButtons mSNext"></a>
                </div>
                <!-- <div class="details">
                    <p id="title"></p>
                </div> -->
            </div>
        </div>
    </div>
</div>