.button:hover,
.button:focus {
    background-color: $black;
    color: $white;
}

button:focus {
    outline: none;
}

.button {
    width: 100%;
    background-color: $black;
    color: $white;
    border: 1px solid $white;
    font-size: 14px;
    margin-bottom: 36px;
    font-family: $avenir-medium;
    @include breakpoint (large) {
        max-width: 100px;
        padding: 0.4em 0em;
    }
}

.more-btn {
    font-size: 18px;
    font-family: $avenir-medium;
    text-decoration: none;
    color: $bnm-orange;
    background: transparent;
    outline: 0;
    border: 1px solid $bnm-orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint (large) {
        max-width: 240px;
        padding: 0.4em 0em;
    }
}

.mobile-close-btn {
    float: right;
}
