[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: none;
}

label {
    color: $white;
    display: none;
}

.newsletter {
    background: $black;
    padding-top: 37px;
    padding-bottom: 47px;
    // padding-bottom: 23px;
    @include breakpoint (medium) {
        padding-top: 52px;
        padding-bottom: 62px;
        border-bottom: 1px solid $divider-grey;
        // padding-bottom: 50px;
    }
    p {
        color: $white;
        margin-bottom: 22px;
    }
    form {
        // max-width: 525px;
    }
    [type='text'],
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='url'],
    [type='color'],
    textarea {
        color: $white;
        background-color: $lighter-black;
        border: 0;
        // border-bottom: 1px solid $white;
        // padding: 0;
        height: 2.4375rem;
        box-shadow: none;
        @include breakpoint (large) {
            height: 2.4375rem;
        }
        &:focus {
            box-shadow: none;
            transition: none;
        }
    }
}

.newsl-btn {
    float: right;
}

.fieldName {
    padding-bottom: 32px;
    @include breakpoint (large) {
        padding-bottom: 21px;
    }
}

.fieldEmail {
    padding-bottom: 28px;
    @include breakpoint (large) {
        padding-bottom: 39px;
    }
}

.form-group {
    width: 100%;
    @include breakpoint (medium) {
        max-width: 525px;
    }
}

.pull-p-right {
    @include breakpoint (xxlarge) {
        margin-left: 30px;
    }
}
