.row {
    // max-width: 78.125rem;
    max-width: 86.25rem;
    margin-left: auto;
    margin-right: auto;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.main {
    max-width: 100%;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


@media screen and (min-width: 64em) {
    .main {
        width: calc(100% - 116px);
    }
}



// @media screen and (min-width: 39.750em) {
//     .main {
//         width: calc(100% - 116px);
//     }
// }
