$outer: 10px;
$inner: 20px;
$middle: 30px;
$large-gap: 54px;
$xlarge-gap: 116px;
.row {
    max-width: 86.25rem;
    margin-left: auto;
    margin-right: auto;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.main,
.wider-main,
.people-main,
.labs-main,
.header-inner {
    width: calc(100% - 20px);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.filter-bar {
    display: block;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    height: 70px;
    margin-bottom: 35px;
    overflow-x: auto;
    overflow-y: hidden;
    @include breakpoint (medium) {
        height: 95px;
    }
    @include breakpoint (large) {
        height: 120px;
        margin-bottom: 50px;
    }
    .wider-main {
        width: 100%;
        @include breakpoint(large) {
            width: calc(100% - 116px);
        }
        @include breakpoint(xlarge) {
            width: calc(100% - 174px);
        }
    }
}

.labels {
    padding-bottom: 0;
    // padding-left: 20px;
    line-height: 70px;
    height: 70px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    text-align: left;
    width: 100%;
    @include breakpoint (medium) {
        line-height: 95px;
        height: 95px;
    }
    @include breakpoint (large) {
        line-height: 120px;
        height: 120px;
    }
    @include breakpoint (xxlarge) {
        padding-left: 30px;
    }
    li:first-child {
        margin-left: 20px;
        @include breakpoint(medium) {
            margin-left: 22px;
        }
        @include breakpoint(large) {
            margin-left: 0;
        }
    }
}

.contact-list {
    @include breakpoint (xxlarge) {
        padding-left: 30px;
    }
}


/* 

Our wider main is set slightly further inside the content.
.wider-main margins are wider the .main margins

    RATIOS .wider-main to .main
    – (small) -- 2 : 1
    – (medium) -- 4 : 3
    – (large) -- 2 : 1
    – (xlarge) -- 3 : 2
    – (xxlarge) -- freeform edges

*/

.wider-main {
    width: calc(100% - 40px);
}

.main,
.labs-main {
    @include breakpoint(medium) {
        width: calc(100% - 32px);
    }
    @include breakpoint(large) {
        width: calc(100% - 58px);
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 116px);
    }
}


/* 
    .people-main is the same as .main 
    we have subtracted 10px to correspond with the padding of the people grid 

*/

.people-main {
    @include breakpoint(medium) {
        width: calc(100% - 22px);
    }
    @include breakpoint(large) {
        width: calc(100% - 48px);
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 106px);
    }
}

.wider-main,
.header-inner {
    @include breakpoint(medium) {
        width: calc(100% - 44px);
    }
    @include breakpoint(large) {
        width: calc(100% - 116px);
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 174px);
    }
}

.close-btn {
    float: right;
    // padding-right: 20px;
    z-index: 88;
}


/*
 *******************************************************
 * Labs Grid
 *******************************************************
 */

.labs-main {
    ul li.post {
        padding-right: 0;
        padding-left: 0;
    }
    @include breakpoint(large) {
        ul li.post:nth-child(2n+1) {
            padding-right: 15px;
        }
        ul li.post:nth-child(2n) {
            padding-left: 15px;
        }
    }
    @include breakpoint(xlarge) {
        ul li.post:nth-child(2n+1) {
            padding-right: 44px;
        }
        ul li.post:nth-child(2n) {
            padding-left: 44px;
        }
    }
}


/*
 *******************************************************
 * People Grid
 *******************************************************
 */

.people-main {
    ul li {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    @include breakpoint(medium) {
        ul li:nth-child(2n+1) {
            padding-right: 5px;
        }
        ul li:nth-child(2n) {
            padding-left: 5px;
        }
    }
    @include breakpoint(large) {
        ul li {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}

.details {
    padding-bottom: 45px;
}

.title-message {
    padding-top: 62px;
    margin-bottom: 11px;
    @include breakpoint (medium) {
        padding-top: 114px;
        margin-bottom: 42px;
    }
    @include breakpoint (large) {
        padding-top: 174px;
        margin-bottom: 63px;
    }
    @include breakpoint (xlarge) {
        padding-top: 200px;
        margin-bottom: 87px;
    }
}

.contact {
    .title-message {
        margin-bottom: 9px;
        @include breakpoint (medium) {
            margin-bottom: 0px;
        }
    }
}

.message-container {
    position: relative;
    display: block;
    min-width: 225px;
    max-width: 310px;
    @include breakpoint (medium) {
        min-width: 400px;
        max-width: 550px;
    }
    @include breakpoint (large) {
        min-width: 600px;
        max-width: 645px;
    }
    @include breakpoint (xlarge) {
        min-width: 798px;
        // max-width: 768px;
        // width: 768px;
    }
    @include breakpoint (xxlarge) {
        min-width: 798px;
        max-width: 798px;
        width: 798px;
        padding-left: 30px;
    }
}


/*
 *******************************************************
 * Case Story Grid
 *******************************************************
 */


/* 
    .side, .case
    Share same padding-top and padding-bottom for medium-up
*/

// .inner-top {
//     @include breakpoint (medium) {
//         padding-top: 31px;
//     }
//     @include breakpoint (large) {
//          padding-top: 63px;
//          padding-bottom: 69px;
//     }
//     @include breakpoint (xlarge) {
//         padding-top: 95px;
//         padding-bottom: 97px;
//     }
// }
.side {
    padding-top: 0px;
    padding-right: 0.625rem;
    padding-bottom: 45px;
    @include breakpoint (medium) {
        padding-right: 0.9375rem;
        padding-top: 31px;
    }
    @include breakpoint (large) {
        padding-right: 0;
        padding-top: 63px;
        padding-bottom: 69px;
    }
    @include breakpoint (xlarge) {
        padding-top: 95px;
        padding-bottom: 97px;
    }
    p {
        font-size: 14px;
        line-height: 27px;
    }
}

.case {
    padding-top: 28px;
    padding-bottom: 0px;
    padding-left: 0.625rem;
    max-width: 700px;
    @include breakpoint (medium) {
        padding-left: 0.9375rem;
        padding-top: 29px;
    }
    @include breakpoint (large) {
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 69px;
    }
    @include breakpoint (xlarge) {
        padding-top: 91px;
        padding-bottom: 97px;
    }
    h1 {
        margin-bottom: 24px;
    }
}

.text-panel {
    padding-top: 28px;
    padding-bottom: 38px;
    @include breakpoint (medium) {
        padding-top: 29px;
    }
    @include breakpoint (large) {
        padding-top: 60px;
        padding-bottom: 69px;
    }
    @include breakpoint (xlarge) {
        padding-top: 80px;
        padding-bottom: 88px;
    }
}

.story-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 100%;
    padding-top: 36px;
    @include breakpoint (xlarge) {
        padding-top: 92px;
        h1 {
            margin-bottom: 34px;
        }
    }
}


/*
 *******************************************************
 * Blog Post
 *******************************************************
 */

.post-entry {
    br {
        display: none;
    }
    padding-top: 28px;
    padding-bottom: 65px;
    padding-right: 0px;
    padding-left: 0px;
    @include breakpoint (medium) {
        padding-top: 31px;
        padding-right: 0px;
        padding-left: 0px;
    }
    @include breakpoint (large) {
        // max-width: 635px;
        // min-width: 515px;
        // padding-left: 0px;
        // padding-right: 0px;
        padding-top: 49px;
        padding-bottom: 75px;
        max-width: 700px;
    }
    h1 {
        margin-bottom: 22px;
    }
    .date {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
        color: $paragraph;
        @include breakpoint (large) {
            margin-bottom: 38px;
        }
    }
    iframe {
        margin-top: 38px;
        margin-bottom: 38px;
    }
    .post-body {
        padding-bottom: 18px;
    }
}