.row {
    // max-width: 78.125rem;
    max-width: 86.25rem;
    margin-left: auto;
    margin-right: auto;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.no-pad {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.main,
.wider-main,
.people-main,
.labs-main {
    width: calc(100% - 20px);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.wider-main {
    width: calc(100% - 40px);
}

.main {
    @include breakpoint(large) {
        width: calc(100% - 29px);
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 116px);
    }
}

.labs-main {
    ul li.post {
        padding-right: 0;
        padding-left: 0;
    }
    @include breakpoint(large) {
        width: calc(100% - 29px);
        ul li.post:nth-child(2n+1) {
            padding-right: 7px;
        }
        ul li.post:nth-child(2n) {
            padding-left: 7px;
        }
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 116px);
        ul li.post:nth-child(2n+1) {
            padding-right: 43px;
        }
        ul li.post:nth-child(2n) {
            padding-left: 43px;
        }
    }
}

.wider-main {
    @include breakpoint(large) {
        width: calc(100% - 44px);
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 176px);
    }
}

.people-main {
    ul li {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    @include breakpoint(medium) {
        // every odd 
        ul li:nth-child(2n+1) {
            padding-right: 5px;
        }
        ul li:nth-child(2n) {
            padding-left: 5px;
        }
    }
    @include breakpoint(large) {
        width: calc(100% - 19px);
        ul li {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 106px);
    }
}

.story-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 100%;
    padding-top: 36px;
    @include breakpoint (xlarge) {
        padding-top: 92px;
        h1 {
            margin-bottom: 34px;
        }
    }
}

.text-panel {
    padding-top: 21px;
    padding-bottom: 45px;
}

.details {
    padding-bottom: 45px;
}

.title-message {
    padding-top: 62px;
    margin-bottom: 11px;
    @include breakpoint (medium) {
        padding-top: 114px;
        margin-bottom: 42px;
    }
    @include breakpoint (large) {
        padding-top: 174px;
        margin-bottom: 63px;
    }
    @include breakpoint (xlarge) {
        padding-top: 234px;
        margin-bottom: 88px;
    }
}

.message-container {
    position: relative;
    display: block;
    min-width: 225px;
    max-width: 310px;
    @include breakpoint (medium) {
        min-width: 400px;
        max-width: 550px;
    }
    @include breakpoint (large) {
        min-width: 600px;
        max-width: 645px;
    }
    @include breakpoint (xlarge) {
        min-width: 768px;
        max-width: 768px;
        width: 768px;
    }
    @include breakpoint (xxlarge) {
        min-width: 798px;
        max-width: 798px;
        width: 798px;
        padding-left: 30px;
    }
}
