/*
 *******************************************************
 * Pushy
 *******************************************************
 */

$small_menu_width: 100%;
$menu_width: 500px;
$large_menu_width: 100%;
/* Menu Appearance */

.pushy {
    position: fixed;
    width: $small_menu_width;
    @include breakpoint (large) {
        width: $menu_width;
    }
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    background: $black;
    overflow: auto;
    // visibility: hidden;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
    &.pushy-left {
        left: 0;
    }
    &.pushy-right {
        //right: -$small_menu_width;
        @include breakpoint (large) {
            //right: -$menu_width;
        }
    }
}


/* Menu Movement */

.pushy-left {
    -webkit-transform: translate3d( unquote('-' + $small_menu_width), 0, 0);
    -ms-transform: translate3d( unquote('-' + $small_menu_width), 0, 0);
    transform: translate3d( unquote('-' + $small_menu_width), 0, 0);
    @include breakpoint (large) {
        -webkit-transform: translate3d( unquote('-' + $menu_width), 0, 0);
        -ms-transform: translate3d( unquote('-' + $menu_width), 0, 0);
        transform: translate3d( unquote('-' + $menu_width), 0, 0);
    }
}

.pushy-open-left {
    #container,
    .push {
        -webkit-transform: translate3d( $small_menu_width, 0, 0);
        -ms-transform: translate3d( $small_menu_width, 0, 0);
        transform: translate3d( $small_menu_width, 0, 0);
        @include breakpoint (large) {
            -webkit-transform: translate3d( $menu_width, 0, 0);
            -ms-transform: translate3d( $menu_width, 0, 0);
            transform: translate3d( $menu_width, 0, 0);
        }
    }
}

.pushy-right {
    -webkit-transform: translate3d( $small_menu_width, 0, 0);
    -ms-transform: translate3d( $small_menu_width, 0, 0);
    transform: translate3d( $small_menu_width, 0, 0);
    @include breakpoint (large) {
        -webkit-transform: translate3d( $menu_width, 0, 0);
        -ms-transform: translate3d( $menu_width, 0, 0);
        transform: translate3d( $menu_width, 0, 0);
    }
}

.pushy-open-right {

}

.pushy-open-left,
.pushy-open-right {
    .pushy {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        &.pushy-right {
            right: 0;
        }
    }
}


/* Menu Transitions */

#container,
.pushy,
.push {
    transition: transform .6s cubic-bezier(.16, .68, .43, .99);
}


/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-open-left,
.pushy-open-right {
    .site-overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        background-color: rgba(25, 25, 25, 0.5);
        -webkit-animation: fade 500ms;
        animation: fade 500ms;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Menu
.main-menu {
    margin-left: 20px;
    margin-right: 20px;
    @include breakpoint (large) {
        padding-left: 86px;
        height: 100%;
        display: table-cell;
        vertical-align: top;
    }
    li {
        @include breakpoint (large) {
            border-bottom: none;
        }
        a {
            font-size: 23px;
            line-height: 48px;
            font-family: $avenir-heavy;
            text-transform: none;
            color: $white;
            letter-spacing: 0px;
            @include breakpoint (medium) {
                font-size: 46px;
            }
        }
        .active {
            color: $bnm-orange;
        }
    }
}


/* Menu Button */


/*
 *******************************************************
 * Header
 *******************************************************
 */

.header-main {
    width: 100%;
    position: fixed;
    height: 53px;
    margin-bottom: 9px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: top 0.6s;
    background: rgba(25, 25, 25, 0.3);
    z-index: 9999;
    overflow: hidden;
    @include breakpoint (medium) {
        height: 100px;
    }
}

.off-canvas {
    background: transparent;
}

.header-main.off--canvas {
    top: -53px;
    @include breakpoint (medium) {
        top: -77px;
        height: 77px;
    }
    .hamburger {
        margin-top: 10px;
        @include breakpoint (medium) {
            margin-top: 20px;
        }
    }
    .logo-mobile {
        @include breakpoint (large) {
            margin-top: 21px;
        }
    }
}

.header-main.fixed {
    top: 0;
}

.header-main.absolute {
    position: absolute;
}


/*
 *******************************************************
 * Logo
 *******************************************************
 */

.logo-mobile {
    font-family: $avenir-heavy;
    font-size: 15px;
    line-height: 54px;
    width: 22px;
    height: 22px;
    display: block;
    margin-top: 8px;
    margin-left: 2px;
    @include breakpoint(medium) {
        width: 38px;
        height: 38px;
        margin-left: 3px;
        margin-top: 22px;
    }
    @include breakpoint(large) {
        width: 38px;
        height: 38px;
        margin-left: 3px;
        margin-top: 50px;
    }
    @include breakpoint (xxlarge) {
        margin-left: 33px;
    }
}

svg#Logo_1 {
    width: 22px;
    height: 22px;
    margin: 0px;
    @include breakpoint (medium) {
        width: 29px;
        height: 29px;
    }
    @include breakpoint (large) {
        width: 37px;
        height: 37px;
    }
}


/*
 *******************************************************
 * Hamburger
 *******************************************************
 */

.hamburger {
    position: relative;
    z-index: 99999;
    right: 0px;
    margin-top: 12px;
    @include breakpoint (medium) {
        margin-top: 20px;
    }
    @include breakpoint (large) {
        margin-top: 44px;
    }
    display: block;
    line-height: 1;
    float: right;
    -webkit-transition: 0.3s -webkit-transform cubic-bezier(0, 0, .58, 1);
    -moz-transition: 0.3s -moz-transform cubic-bezier(0, 0, .58, 1);
    -o-transition: 0.3s -o-transform cubic-bezier(0, 0, .58, 1);
    transition: 0.3s transform cubic-bezier(0, 0, .58, 1);
    &:hover {
        cursor: pointer;
    }
    *, *:before, *:after {
       box-sizing: initial;
    }
}

.svg-menu-toggle,
.svg-mobile-menu-toggle {
    fill: #fff;
    pointer-events: all; //needs to be there so the hover works
    cursor: pointer;
    .bar,
    .mobile-bar {
        -webkit-transform: rotate(0) translateY(0) translateX(0);
        transform: rotate(0) translateY(0) translateX(0);
        opacity: 1;
        -webkit-transform-origin: 20px 10px;
        transform-origin: 20px 10px;
        -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
        transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
    }
    .bar:nth-of-type(1),
    .mobile-bar:nth-of-type(1) {
        -webkit-transform-origin: 20px 10px;
        transform-origin: 20px 10px;
    }
    .bar:nth-of-type(3),
    .mobile-bar:nth-of-type(3) {
        -webkit-transform-origin: 20px 20px;
        transform-origin: 20px 20px;
    }
}

.svg-menu-toggle.active {
    .bar:nth-of-type(1) {
        -webkit-transform: rotate(45deg) translateY(8px) translateX(-4px);
        transform: rotate(45deg) translateY(8px) translateX(-4px);
    }
    .bar:nth-of-type(2) {
        -webkit-transform: rotate(-45deg) translateY(-8px) translateX(-3px);
        transform: rotate(-45deg) translateY(-8px) translateX(-3px);
    }
}

.svg-mobile-menu-toggle.active {
    .mobile-bar:nth-of-type(1) {
        -webkit-transform: rotate(45deg) translateY(13px) translateX(1px);
        transform: rotate(45deg) translateY(13px) translateX(1px);
    }
    .mobile-bar:nth-of-type(2) {
        -webkit-transform: rotate(-45deg) translateY(-8px) translateX(3px);
        transform: rotate(-45deg) translateY(-8px) translateX(3px);
    }
}

.inline-svg {
    display: block;
    margin: 0 auto;
}
