/*
 *******************************************************
 * Header
 *******************************************************
 */

.header-main {
    width: 100%;
    position: fixed;
    height: 53px;
    margin-bottom: 9px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: top 0.6s;
    background: $black;
    z-index: 9999;
    overflow: hidden;
    @include breakpoint (medium) {
        height: 100px;
    }

}

// .header-inner {
//     width: calc(100% - 30px);
//     max-width: 100%;
//     margin-left: 20px;
//     margin-right: 10px;
//     position: relative;
// }
.off-canvas {
    background: transparent;
}

.header-main.off--canvas {
    top: -53px;
    @include breakpoint (medium) {
        top: -77px;
        height: 77px;
    }
    .logo-mobile {
        @include breakpoint (large) {
            margin-top: 23px;
        }
    }
}

.header-main.fixed {
    top: 0;
}

.header-main.absolute {
    position: absolute;
}

svg#Logo_1 {
    width: 22px;
    height: 22px;
    margin: 0px;
    @include breakpoint (medium) {
        width: 29px;
        height: 29px;
    }
    @include breakpoint (large) {
        width: 37px;
        height: 37px;
    }
}


/*
 *******************************************************
 * Logo
 *******************************************************
 */

.logo-mobile {
    font-family: $avenir-heavy;
    font-size: 15px;
    line-height: 54px;
    width: 22px;
    height: 22px;
    display: block;
    margin-top: 8px;
    margin-left: 2px;
    @include breakpoint(medium) {
        width: 38px;
        height: 38px;
        margin-left: 3px;
        margin-top: 22px;
    }
    @include breakpoint(large) {
        width: 38px;
        height: 38px;
        margin-left: 3px;
        margin-top: 50px;
    }
    @include breakpoint (xxlarge) {
        margin-left: 33px;
    }
}


/*
 *******************************************************
 * Hamburger
 *******************************************************
 */

.hamburger {
    position: relative;
    z-index: 99999;
    right: 0px;
    top: 14px;
    width: 20px;
    height: 20px;
    display: block;
    line-height: 1;
    float: right;
    -webkit-transition: 0.3s -webkit-transform cubic-bezier(0, 0, .58, 1);
    -moz-transition: 0.3s -moz-transform cubic-bezier(0, 0, .58, 1);
    -o-transition: 0.3s -o-transform cubic-bezier(0, 0, .58, 1);
    transition: 0.3s transform cubic-bezier(0, 0, .58, 1);
    @include breakpoint (medium) {
        top: 23px;
        // width: 30px;
    }
 
    &:hover {
        cursor: pointer;
    }
}

.hamburger > div,
.hamburger > div:nth-child(2) {
    left: 11px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: $bnm-orange;
    position: absolute;
    @include breakpoint (medium) {
        // height: 22px;
        left: 19px;
    }
}

.hamburger > div {
    transform: rotate(-90deg);
}

.hamburger > div:nth-child(2) {
    margin-top: 6px;
    @include breakpoint (medium) {
        margin-top: 8px;
    }
    @include breakpoint (large) {
        margin-top: 9px;
    }
    transform: rotate(90deg);
}

.hamburger.active {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hamburger.active > div {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: rotate(-45deg);
}

.hamburger.active > div:nth-child(2) {
    margin-top: 0px;
    transform: rotate(45deg);
}

.hamburger.active.active-end > div {
    transform: rotate(-90deg);
}

.hamburger.active.active-end > div:nth-child(2) {
    margin-top: 6px;
    @include breakpoint (medium) {
        margin-top: 8px;
    }
    @include breakpoint (large) {
        margin-top: 9px;
    }
    transform: rotate(90deg);
}


/*
 *******************************************************
 * Mobile Navigation
 *******************************************************
 */

.navigation {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /* Off Canvas Menu Slide in Speed */
    -webkit-transition: 0.3s -webkit-transform cubic-bezier(0, 0, .58, 1);
    -moz-transition: 0.3s -moz-transform cubic-bezier(0, 0, .58, 1);
    -o-transition: 0.3s -o-transform cubic-bezier(0, 0, .58, 1);
    transition: 0.3s transform cubic-bezier(0, 0, .58, 1);
    width: 100%;
    overflow-y: auto;
    z-index: 999;
    background: $black;
    @include breakpoint (large) {
        width: 50%;
        display: table;
        height: 100%;
    }
}

.main-menu {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 49px;
    @include breakpoint (large) {
        padding-left: 86px;
        height: 100%;
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
    li {
        border-bottom: 1px solid #292929;
        @include breakpoint (large) {
            border-bottom: none;
        }
        a {
            font-size: 23px;
            line-height: 57px;
            font-family: $avenir-heavy;
            color: $white;
            letter-spacing: 0px;
            @include breakpoint (xlarge) {
                font-size: 46px;
                line-height: 61px;
            }
        }
    }
}


/* Hide : Off Canvas Menu */

.off-canvas--hide {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}


/* Show : Off Canvas Menu Class */

.off-canvas--show {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.navigation__link {
    display: block;
    text-align: center;
    padding-left: 1.25rem;
    /* 20/16 = 1.25rem */
    padding: 0.625rem 1.25rem;
    /* 10/16 = 0.625rem */
    /* 20/16 = 1.25rem */
}