.post-list-entry {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 22px;
    p {
        margin: 0;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 29px;
        color: $paragraph;
        letter-spacing: 0;
    }
    @include breakpoint (medium) {
        padding-left: 20px;
        padding-top: 22px;
        padding-right: 20px;
    }
    @include breakpoint (large) {
        font-size: 16px;
        line-height: 31px;
    }
    @include breakpoint (xlarge) {
        padding-left: 20px;
        padding-top: 30px;
        padding-right: 25px;
    }
    @include breakpoint (xxlarge) {
        padding-left: 31px;
        padding-top: 30px;
        padding-right: 50px;
    }
}

.h2 {
    display: block;
    margin-bottom: 9px;
    font-size: 23px;
    line-height: 32px;
    font-family: $avenir-heavy;
    letter-spacing: -0.009em;
    @include breakpoint (xlarge) {
        font-size: 29px;
        line-height: 43px;
        margin-bottom: 11px;
    }
}

button.h2.more-btn {
    margin-bottom: 58px;
}

// .post-entry {
//     br {
//         display: none;
//     }
//     padding-top: 28px;
//     padding-bottom: 65px;
//     padding-right: 20px;
//     padding-left: 20px;
//     @include breakpoint (medium) {
//         padding-top: 31px;
//     }
//     @include breakpoint (large) {
//         max-width: 635px;
//         min-width: 515px;
//         padding-left: 0px;
//         padding-top: 49px;
//         padding-bottom: 75px;
//         padding-right: 0px;
//     }
//     @include breakpoint (xlarge) {
//         width: 695px;
//         max-width: 695px;
//         padding-right: 17px;
//         padding-left: 50px;
//     }
//     h1 {
//         margin-bottom: 22px;
//     }
//     .date {
//         margin-bottom: 30px;
//     }
//     p {
//         margin-bottom: 20px;
//         color: $paragraph;
//         @include breakpoint (large) {
//             margin-bottom: 38px;
//         }
//     }
//     iframe {
//         margin-top: 38px;
//         margin-bottom: 38px;
//     }
//     .post-body {
//         padding-bottom: 18px;
//     }
// }
.btn {}

li.tag {
    padding: 0;
    display: inline;
    padding-right: 20px;
    a {
        font-size: 11px;
        font-family: $mono;
        color: #999;
        line-height: 27px;
        letter-spacing: 0.13em;
    }
}

.post {
    margin-bottom: 34px;
    @include breakpoint (medium) {
        margin-bottom: 58px;
    }
    @include breakpoint (xxlarge) {
        margin-bottom: 116px;
    }
}
