p,
a,
small {
    font-size: 14px;
    color: $white;
    letter-spacing: 0.015em;
}

a {
    line-height: 57px;
}

p {
    line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
}

h1 {
    font-size: 23px;
    line-height: 30px;
    font-family: $avenir-black;
    margin-bottom: 19px;
}

h2 {
    font-size: 18px;
    line-height: 28px;
    font-family: $avenir-medium;
    margin-bottom: 36px;
}

h5 {
    font-size: 15px;
    line-height: 27px;
    font-family: $avenir-heavy;
}

h6,
.title-message a {
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: $avenir-heavy;
    margin-bottom: 16px;
    line-height: 16px;
    display: block;
}
