small {
    font-size: 14px;
    color: $white;
    letter-spacing: 0.015em;
}

a {
    line-height: 57px;
    font-size: 14px;
    color: $white;
    letter-spacing: 0.015em;
    @include breakpoint(medium) {
        font-size: 15px;
    }
    @include breakpoint(large) {
        font-size: 16px;
    }
}

p {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.015em;
    font-family: $avenir-medium;
    color: $white;
    @include breakpoint(medium) {
        font-size: 15px;
        line-height: 30px;
    }
    @include breakpoint(large) {
        font-size: 16px;
        line-height: 32px;
    }
}

h1 {
    font-size: 23px;
    line-height: 30px;
    font-family: $avenir-black;
    @include breakpoint(medium) {
        font-size: 26px;
        line-height: 35px;
        font-family: $avenir-heavy;
    }
    @include breakpoint(large) {
        font-size: 29px;
        line-height: 41px;
    }
    @include breakpoint(xlarge) {
        font-size: 35px;
        line-height: 47px;
    }
}

h2 {
    font-size: 18px;
    line-height: 28px;
    font-family: $avenir-medium;
    margin-bottom: 36px;
    @include breakpoint(xlarge) {
        font-size: 26px;
        line-height: 41px;
    }
}

h5 {
    font-size: 15px;
    line-height: 27px;
    font-family: $avenir-heavy;
}

h6,
.title-message a {
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: $avenir-heavy;
    margin-bottom: 16px;
    line-height: 16px;
    display: block;
}

.results {
    h1 {
        font-size: 70px;
        font-family: $avenir-black;
    }
    @include breakpoint(xlarge) {
        h1 {
            font-size: 116px;
        }
    }
}
