small {
    font-size: 13px;
    color: $white;
    letter-spacing: 0.015em;
    font-family: $avenir-medium;
}

a,
p,
.contact-details div,
.newsl-btn,
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
.newsletter p {
    line-height: 28px;
    font-size: 15px;
    color: $white;
    letter-spacing: 0.015em;
    font-family: $avenir-medium;
    margin-bottom: 0;
    @include breakpoint(medium) {
        font-size: 16px;
        line-height: 33px;
    }
    @include breakpoint(large) {
        font-size: 18px;
        line-height: 33px;
    }
}

p {}

h1,
.h1 {
    font-size: 23px;
    line-height: 30px;
    font-family: $avenir-heavy;
    margin-bottom: 0;
    letter-spacing: -0.001em;
    // @include breakpoint(medium) {
    //     font-size: 26px;
    //     line-height: 35px;
    //     font-family: $avenir-heavy;
    // }
    @include breakpoint(medium) {
        font-size: 29px;
        line-height: 41px;
    }
    @include breakpoint(large) {
        font-size: 35px;
        line-height: 48px;
    }
}

// .message-container h1 {
//     @include breakpoint (large) {
//         // font-size: 56px;
//         // line-height: 71px;
//         font-size: 46px;
//         line-height: 61px;
//     }
// }

.message-container {
    h1 {
        margin-bottom: 16px;
    }
}

h2 {
    font-size: 18px;
    line-height: 28px;
    font-family: $avenir-medium;
    margin-bottom: 0;
    @include breakpoint(medium) {
        font-size: 22px;
        line-height: 39px;
    }
    @include breakpoint(xlarge) {
        font-size: 26px;
        line-height: 41px;
    }
}

h5 {
    font-size: 15px;
    line-height: 27px;
    font-family: $avenir-heavy;
    @include breakpoint(medium) {
        font-size: 16px;
        line-height: 32px;
    }
    @include breakpoint(large) {
        font-size: 18px;
        line-height: 38px;
    }
}

h6,
.title-message a {
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: $avenir-heavy;
    margin-bottom: 16px;
    line-height: 16px;
    display: block;
}

.results {
    h1 {
        font-size: 70px;
        // font-family: $avenir-heavy;
    }
    @include breakpoint(xlarge) {
        h1 {
            font-size: 116px;
        }
    }
}

.orange {
    color: $bnm-orange;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}