// colors

// black #131313 #191919 #161616 lighter black 
$black : #191919;
$lighter-black : #202020;
$divider-grey : #292929;
$white: #ffffff;
$bnm-orange: #ff5314;
$paragraph: #3d3d3d;
$text-grey:#727272;
$deselected-grey: #cccccc;
$divider-light-grey: #EBEBEB;

// fonts
$avenir-roman: 'Avenir LT W01_55 Roman1475520', Helvetica, Arial, sans-serif;
$avenir-medium: 'Avenir LT W01_65 Medium1475532', Helvetica, Arial, sans-serif;
$avenir-heavy: 'Avenir LT W01_85 Heavy1475544', Helvetica, Arial, sans-serif;
$avenir-black: 'Avenir LT W01_95 Black1475556', Helvetica, Arial, sans-serif;
$mono: 'Roboto Mono';

$header-font-family: $avenir-heavy;
$header-color: $white;

