// colors
$black : #191919;
$lighter-black : #1d1d1d;
$divider-grey : #292929;
$white: #ffffff;
$bnm-orange: #ff5314;
$paragraph: #3d3d3d;
$text-grey: #999999;

// fonts
$avenir-book: 'Avenir LT W01_45 Book1475508';
$avenir-roman: 'Avenir LT W01_55 Roman1475520';
$avenir-medium: 'Avenir LT W01_65 Medium1475532';
$avenir-heavy: 'Avenir LT W01_85 Heavy1475544';
$avenir-black: 'Avenir LT W01_95 Black1475556';

$header-font-family: $avenir-heavy;
$header-color: $white;

