@import 'partials/reset';
@import 'partials/foundation';
@import 'partials/vars';
@import 'partials/fonts';
@import 'partials/typography';
@import 'partials/grid';
@import 'partials/base';
@import 'partials/header';

body {
    background: $black;
    color: $white;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $avenir-medium;
    padding-top: 53px;
}

.wbody {
    background-color: $white;
    color: $black;
    p, li, a {
        color: $black;
    }
}

.gifs {
    width: 100%;
    margin-bottom: 8px;
}

.noScroll {
    overflow: hidden;
}

.underlined {
    border-bottom: 1px solid $white;
}