<top-panel message="labs" class="contact"> </top-panel>
<div class="filter-bar">
    <div class="wider-main">
        <div class="row no-pad">
            <ul class="labels">
                <li class="country">
                    <a ng-href="/contact/australia" ng-class=" { active : vm.menuItem == 'australia' || vm.menuItem == 'Australia' || vm.menuState == '/contact' }">  Australia </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/singapore" ng-class=" { active : vm.menuItem == 'singapore' || vm.menuItem == 'Singapore' }"> Singapore </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/philippines" ng-class=" { active : vm.menuItem == 'philippines' || vm.menuItem == 'Philippines' }"> Philippines </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/america" ng-class=" { active : vm.menuItem == 'america' || vm.menuItem == 'America' }"> North America </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/germany" ng-class=" { active : vm.menuItem == 'germany' 
                || vm.menuItem == 'Germany' }"> Germany </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row no-pad">
    <div class="medium-12 columns">
        <h1><small>{{ vm.subtitle }}</small></h1>
    </div>
</div>
<!-- Search form -->
<!-- <div>
    <form ng-submit="vm.search(term)" name="searchForm">
        <input type="text" ng-model="vm.searchTerm" ng-blur="searchInputBlur()">
        <button type="submit" ng-submit="vm.search()"> Submit </button>
    </form>
</div> -->
<div class="labs-main">
    <ul class="row small-up-1 large-up-2 no-pad">
        <li class="column no-pad post" ng-repeat="post in vm.posts track by $index">
            <a ng-href="/labs/{{post.ID}}/{{post.slug}}" class="post-list-title">
                <img ng-src="{{post.featured_image.source}}">
            </a>
            <div class="post-list-entry">
                <!-- <div class="date">
                    {{ post.date | date:'dd MMM yyyy' }}&nbsp; by&nbsp;
                    <a ng-href="/author/{{post.author.name}}">{{post.author.name}}</a>
                </div> -->
                <a class="h2" ng-href="/labs/{{post.ID}}/{{post.slug}}">{{ post.title | decodeHtmlCodes }} </a>
                <div class="post-list-excerpt" ng-bind-html="post.excerpt | limitTo:4 "></div>
                <ul class="tags">
                    <li class="tag" ng-repeat="tag in post.terms.post_tag">
                        <a ng-href="/tag/{{tag.slug}}">#{{ tag.name }} </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="row">
    <button class="more-btn button" href="#" ng-class="vm.nextPageDisabledClass()" ng-click="vm.loadMore()">More from the labs</button>
</div>
<div ng-include=" 'footer.html' "> </div>
