
<full-screen-video info="brandNewMedia">
</full-screen-video>
<div style="width: 100%; height: 100%; position: absolute; display:block; top: 100%; ">
<div class="row no-pad">
    <div class="medium-8 columns">
        <h1> Love is a roller coaster</h1>
        <h2> Here is a description </h2>
    </div>
    <div class="medium-3 columns">
        <button type="button" class="button"> View Online </button>
        <p> Share </p>
        <p> Clients </p>
        <p> Services </p>
    </div>
</div>
<!-- Image -->
<div class="row no-pad">
    <div class="small-12 columns">
        <img class="gifs" src="images/ezgif-2280143617.gif" alt="altText">
    </div>
</div>
<!-- The idea, results, solution text panels -->
<div class="row no-pad">
    <div class="medium-6 columns no-pad">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar lectus vel diam venenatis, ut vulputate neque egestas. Phasellus dignissim lacus non orci vehicula maximus. Nunc sit amet bibendum eros, at dictum leo. Donec lacinia nulla eu sollicitudin tincidunt. Suspendisse ut condimentum leo, nec porttitor arcu. Donec ipsum eros, feugiat vitae vestibulum vel, rhoncus pretium lacus. Donec nec ipsum nulla. Sed vitae pulvinar tortor. Vivamus tristique, magna eu dapibus feugiat, nunc purus eleifend lectus, vel consequat diam lectus sed mauris. Fusce luctus nibh a porta maximus. Vestibulum tellus neque, hendrerit suscipit feugiat quis, venenatis et dolor. Donec libero nisi, fermentum accumsan varius sed, dignissim eu massa.</p>
    </div>
    <div class="medium-4 columns"></div>
</div>
</div>