<!-- <full-screen-video video="hero"></full-screen-video> -->
<!-- <div full-screen-video id="universal_video_background_default" style="display:none;">
    <ul class="universal_video_background_list">
        <li data-bottom-thumb="{{hero.thumbnail}}" data-selfhostedMP4="{{hero.url}}"></li>
    </ul>
</div> -->


<div ng-include=" 'directives/fullscreenvideo.html' "> </div>


<div class="story-container">
    <div class="wider-main details">
        <div class="row no-pad">
            <div class="medium-8 columns no-pad">
                <h1> Love is a roller coaster</h1>
                <h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar lectus vel diam venenatis, ut vulputate neque egestas. Phasellus dignissim lacus non orci vehicula maximus. Nunc sit amet bibendum eros, at dictum leo. Donec lacinia nulla eu sollicitudin tincidunt. 
Suspendisse ut condimentum leo, nec porttitor arcu.  </h2>
            </div>
            <div class="medium-3 columns no-pad">
                <button type="button" class="button"> View Online </button>
                <p> Share </p>
                <p> Client
                    <br> Luna Park </p>
                <p> Services
                    <br>Content Production
                    <br>Distribution &amp; Amplification</p>
            </div>
        </div>
    </div>
    <!-- Image -->
    <single-image info="lunaimage"></single-image>
    <!-- The idea -->
    <text-panel info="idea"> </text-panel>
    <!-- Image -->
    <!-- <single-image info="lunagif"></single-image> -->
    <video-slider></video-slider>
    <!-- The solution -->
    <text-panel info="solution"> </text-panel>
    <!-- The results -->
    <div class="wider-main text-panel results">
        <div class="row no-pad">
            <div class="small-6 medium-3 columns no-pad">
                <h1 class="text-center"> 480k </h1>
                <h4 class="text-center"> views </h4>
            </div>
            <div class="small-6 medium-3 columns no-pad">
                <h1 class="text-center"> 480k </h1>
                <h4 class="text-center"> views </h4>
            </div>
            <div class="small-6 medium-3 columns no-pad">
                <h1 class="text-center"> 480k </h1>
                <h4 class="text-center"> views </h4>
            </div>
            <div class="small-6 medium-3 columns no-pad">
                <h1 class="text-center"> 480k </h1>
                <h4 class="text-center"> views </h4>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div ng-include=" 'footer.html' "> </div>
</div>
