<full-screen-video video="hero"></full-screen-video>
<div class="story-container">
    <div class="wider-main details">
        <div class="row no-pad">
            <div class="medium-8 columns no-pad">
                <h1> Love is a roller coaster</h1>
                <h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar lectus vel diam venenatis, ut vulputate neque egestas. Phasellus dignissim lacus non orci vehicula maximus. Nunc sit amet bibendum eros, at dictum leo. Donec lacinia nulla eu sollicitudin tincidunt. 
Suspendisse ut condimentum leo, nec porttitor arcu.  </h2>
            </div>
            <div class="medium-3 columns no-pad">
                <button type="button" class="button"> View Online </button>
                <p> Share </p>
                <p> Client <br> Luna Park </p>
                <p> Services<br>Content Production<br>Distribution &amp; Amplification</p>
            </div>
        </div>
    </div>
    <!-- Image -->
    <div class="row no-pad">
        <div class="small-12 columns">
            <img class="gifs" src="images/ezgif-2280143617.gif" alt="altText">
        </div>
    </div>
    <!-- The idea -->
    <text-panel info="idea"> </text-panel>
    <div ng-include=" 'footer.html' "> </div>
</div>
