<top-panel message="contact" class="contact"> </top-panel>
<div class="filter-bar">
    <div class="wider-main">
        <div class="row no-pad">
            <ul class="labels">
                <li class="country">
                    <a ng-href="/contact/australia" ng-class=" { active : vm.menuItem == 'australia' || vm.menuItem == 'Australia' || vm.menuState == '/contact' }">  Australia </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/singapore" ng-class=" { active : vm.menuItem == 'singapore' || vm.menuItem == 'Singapore' }"> Singapore </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/philippines" ng-class=" { active : vm.menuItem == 'philippines' || vm.menuItem == 'Philippines' }"> Philippines </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/america" ng-class=" { active : vm.menuItem == 'america' || vm.menuItem == 'America' }"> North America </a>
                </li>
                <li class="country">
                    <a ng-href="/contact/germany" ng-class=" { active : vm.menuItem == 'germany' 
                || vm.menuItem == 'Germany' }"> Germany </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wider-main">
    <!-- Australia Details -->
    <ul class="row no-pad small-up-1 large-up-2 no-pad contact-list" ng-show="vm.menuItem == 'australia' || vm.menuItem == 'Australia' || vm.menuState == '/contact'">
        <contact-details class="column no-pad contact-details" ng-repeat="detail in vm.australiaDetails" contact-details="detail"></contact-details>
    </ul>
    <!-- Singapore Details -->
    <ul class="row no-pad small-up-1 large-up-2 no-pad contact-list" ng-show="vm.menuItem == 'singapore' || vm.menuItem == 'Singapore'">
        <contact-details class="column no-pad contact-details" ng-repeat="detail in vm.singaporeDetails" contact-details="detail"></contact-details>
    </ul>
</div>
<!-- Footer -->
<div ng-include=" 'footer.html' "> </div>