<newsletter-directive></newsletter-directive>
<footer class="footer">
    <div class="wider-main">
        <!-- Footer -->
        <div class="row contact-footer">
            <div class="medium-3 columns no-pad-left">
                <ul>
                    <li class="hide-for-medium hide-for-large">
                        <a ng-click="showNewsletter = !showNewsletter" ng-class="{ underlined: showNewsletter} "> Newsletter </a>
                    </li>
                    <li class="">
                        <a href="#"> Contact </a>
                    </li>
                </ul>
            </div>
            <div class="medium-3 columns no-pad-left countries-1">
                <ul>
                    <li class=""><a href="#"> Sydney </a> </li>
                    <li class=""><a href="#"> Melbourne </a> </li>
                    <li class=""><a href="#"> Brisbane </a> </li>
                    <li class=""><a href="#"> Philipines </a> </li>
                </ul>
            </div>
            <div class="medium-3 columns no-pad-left countries-2">
                <ul>
                    <li class=""><a href="#"> Singapore </a> </li>
                    <li class=""><a href="#"> USA </a> </li>
                    <li class=""><a href="#"> Canada </a> </li>
                    <li class=""><a href="#"> Germany </a> </li>
                </ul>
            </div>
            <div class="medium-3 columns no-pad-left no-pad-right">
                <ul>
                    <li><a href="/" target="_blank"> Facebook </a></li>
                    <li><a href="/" target="_blank"> Twitter </a></li>
                    <li><a href="/" target="_blank"> Linkedin </a></li>
                    <li><a href="/" target="_blank"> Google+ </a></li>
                </ul>
            </div>
        </div>
        <div class="row no-pad show-for-medium show-for-large">
            <div class="small-12 columns no-pad">
                <small> © 2016 Brand New Media. All rights reserved. Privacy Policy. Terms and Conditions. </small>
            </div>
        </div>
    </div>
</footer>
