<div class="newsletter" ng-show="showNewsletter">
    <div class="wider-main">
        <div class="row no-pad">
            <div class="large-3 show-for-large columns no-pad">
                <p class="pull-p-right"> Newsletter</p>
            </div>
            <div class="small-12 large-8 columns no-pad">
                <div class="small-12 columns no-pad">
                    <div class="small-12 columns no-pad">
                        <div class="small-11 large-12 columns no-pad">
                            <div class="form-group">
                                <p id="signup-message"> Subscribe to our newsletter to receive good wholesome stuff, once a month or thereabouts. </p>
                                <p id="submitted-message" style="display: none;">You have submitted successfully.</p>
                                <p id="error-message" style="display: none;">There was an error submitting your form.</p>
                            </div>
                        </div>
                        <div class="small-1 hide-for-large columns no-pad">
                            <button class="mobile-close-btn" ng-click="showNewsletter =! showNewsletter">
                                <p>X</p>
                            </button>
                        </div>
                    </div>
                    <form class="small-12 columns no-pad" autocomplete="off" action="http://brandnewmedia1.createsend.com/t/j/s/nuyuri/" method="post" id="subForm">
                        <div class="form-group">
                            <div class="fieldName">
                                <input id="fieldName" name="cm-name" type="text" placeholder="Name" />
                            </div>
                            <div class="fieldEmail">
                                <input id="fieldEmail" name="cm-nuyuri-nuyuri" type="email" required placeholder="Email Address" />
                            </div>
                            <div>
                                <button type="submit" class="newsl-btn" ng-click="processForm()">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="show-for-large large-1 columns no-pad">
                <button class="close-btn" ng-click="showNewsletter = !showNewsletter">
                   <p> <ng-md-icon icon="close"></ng-md-icon> </p>
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="wider-main">
        <!-- Footer -->
        <div class="row contact-footer">
            <div class="medium-3 columns no-pad-left">
                <ul>
                    <li class="hide-for-medium hide-for-large">
                        <a ng-click="showNewsletter = !showNewsletter" ng-class="{ 'underlined': showNewsletter, 'noline' : !showNewsletter } "> Newsletter </a>
                    </li>
                    <li class="">
                        <a> Contact </a>
                    </li>
                </ul>
            </div>
            <div class="medium-3 columns no-pad-left countries-1">
                <ul>
                    <li class=""><a href="#"> Sydney </a> </li>
                    <li class=""><a href="#"> Melbourne </a> </li>
                    <li class=""><a href="#"> Brisbane </a> </li>
                    <li class=""><a href="#"> Philipines </a> </li>
                </ul>
            </div>
            <div class="medium-3 columns no-pad-left countries-2">
                <ul>
                    <li class=""><a href="#"> Singapore </a> </li>
                    <li class=""><a href="#"> USA </a> </li>
                    <li class=""><a href="#"> Canada </a> </li>
                    <li class=""><a href="#"> Germany </a> </li>
                </ul>
            </div>
            <div class="medium-3 columns no-pad-left no-pad-right">
                <ul>
                    <li><a href="/" target="_blank"> Facebook </a></li>
                    <li><a href="/" target="_blank"> Twitter </a></li>
                    <li><a href="/" target="_blank"> Linkedin </a></li>
                    <li><a href="/" target="_blank"> Google+ </a></li>
                </ul>
            </div>
        </div>
        <div class="row no-pad show-for-medium show-for-large">
            <div class="small-details">
                <small> © 2016 Brand New Media. All rights reserved. Privacy Policy. Terms and Conditions. </small>
            </div>
        </div>
    </div>
</footer>
