<!-- Nav -->
<nav class="navigation off-canvas--hide" aria-hidden="false" role="navigation">
    <ul class="main-menu">
        <li><a href="/"> Work </a> </li>
        <!-- <li><a href="/case-story"> Example Case Story </a> </li> -->
        <li><a href="/company"> Company </a></li>
        <li><a href="/people"> People </a></li>
        <li><a href="/company"> Clients </a></li>
        <li><a href="/labs"> Labs </a></li>
        <li><a href="/contact"> Contact </a></li>
        <!-- <li><a href="#" ng-click='searchButton()'> Search </a></li> -->
    </ul>
</nav>
<!-- Header -->
<header class="header-main transparent">
    <div class="header-inner">
        <div class="row no-pad">
            <a id="menu-trigger" class="hamburger" menu-directive>
                <div></div>
                <div></div>
            </a>
            <a href="/" class="logo-mobile">
                <div ng-include=" 'logo.html' "> </div>
            </a>
        </div>
    </div>
    <!-- Menu Trigger -->
</header>