<!-- Nav -->
<nav class="navigation off-canvas--hide" aria-hidden="false" role="navigation">
    <ul class="main-menu title-message">
        <li><a href="/" ng-class="{ active: isActive == '/'}"> Work </a> </li>
        <!-- <li><a href="/case-story"> Example Case Story </a> </li> -->
        <li><a href="/company" ng-class="{ active: isActive == '/company'}"> Company </a></li>
        <li><a href="/people" ng-class="{ active: isActive == '/people'}"> People </a></li>
        <li><a href="/labs" ng-class="{ active: isActive == '/labs' }"> Labs </a></li>
        <li><a href="/contact" ng-class="{ active: isActive == '/contact'}"> Contact </a></li>
        <!-- <li><a href="#" ng-click='searchButton()'> Search </a></li> -->
    </ul>
</nav>
<!-- Header -->
<header class="header-main transparent">
    <div class="header-inner">
        <div class="row no-pad">
            <a id="menu-trigger" class="hamburger" menu-directive>
                <div></div>
                <div></div>
            </a>
            <a href="/" class="logo-mobile show-for-medium-up">
                <div ng-include=" 'logo.html' "> </div>
            </a>
            <a href="/" class="logo-mobile hide-for-medium-up">
                BNM
            </a>
        </div>
    </div>
    <!-- Menu Trigger -->
</header>

