<top-panel message="home"> </top-panel>
<div class="main" id="home">
    <!-- Project works -->
    <div class="row">
        <div class="small-12 columns no-pad">
            <img class="hp-gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="hp-gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="hp-gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="hp-gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="hp-gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
        </div>
    </div>
</div>

<div ng-bind-html="cfdump">
        <!-- To be populated with the CFDump from the server. -->
    </div>
    
<div ng-include=" 'footer.html' "> </div>
