<top-panel message="home"> </top-panel>
<div class="main">
    <!-- Project works -->
    <div class="row">
        <div class="small-12 columns no-pad">
            <img class="gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
            <img class="gifs" src="images/ezgif-2280143617.gif" alt="Love_is_a_Roller_Coaster_Episode_3_Hair_Raiser">
        </div>
    </div>
    <!-- Newsletter subscribe -->
<!--     <form class="show-for-medium show-for-large">
        <div class="row">
            <div class="medium-3 columns no-pad">
                <p> Newsletter</p>
            </div>
            <div class="medium-9 columns no-pad">
                <div class="medium-7 columns no-pad">
                    <label>Name
                        <input type="text" placeholder="Name">
                    </label>
                    <label>Email address
                        <input type="text" placeholder="Email address">
                    </label>
                </div>
            </div>
        </div>
    </form> -->
</div>
<div ng-include=" 'footer.html' "> </div>
