<div class="row">
        <!-- use an Angular expression -->
        <div contentful-entries>
            <a href="labs/{{ entry.fields.url }}" ng-repeat="entry in $contentfulEntries.items" data="{{entry.sys.id}}" class="medium-6 columns">
                <img ng-src="{{ entry.fields.featuredImage.fields.file.url }}" alt="" />
                <h1> {{ entry.fields.title }}</h1>
                <p> Lab Description: {{ entry.fields.slug }}</p>
                <span ng-repeat="tag in entry.fields.tags"> #{{tag}} </span>
            </a>
        </div>
    </div>
</div>

<!-- ng-click="labs.requestEntry(entry.sys.id)" -->