<div class="row no-pad">
    <h2> People page </h2>
</div>
<input type="text" ng-model="peopleSearch" placeholder="search query" />

<div ng-repeat="person in people | filter: peopleSearch">
    <img src="{{person.image}}"/>
    <p>{{person.firstname}} {{person.lastname}} {{person.title}}</p>
</div>

<!-- <div class="row no-pad">
    <div class="medium-6 large-3 columns no-pad">
        <img src="http://www.baxterandbailey.co.uk/system/files/022015/54eb129d1bdc99bd960000c8/original/MATT_BAXTER_BB_WEB_PORTRAIT.jpg?1425573868" alt="Person Name">
    </div>
    <div class="medium-6 large-3 columns no-pad">
        <img src="http://www.baxterandbailey.co.uk/system/files/022015/54eb129d1bdc99bd960000c8/original/MATT_BAXTER_BB_WEB_PORTRAIT.jpg?1425573868" alt="Person Name">
    </div>
    <div class="medium-6 large-3 columns no-pad">
        <img src="http://www.baxterandbailey.co.uk/system/files/022015/54eb129d1bdc99bd960000c8/original/MATT_BAXTER_BB_WEB_PORTRAIT.jpg?1425573868" alt="Person Name">
    </div>
    <div class="medium-6 large-3 columns no-pad">
        <img src="http://www.baxterandbailey.co.uk/system/files/022015/54eb129d1bdc99bd960000c8/original/MATT_BAXTER_BB_WEB_PORTRAIT.jpg?1425573868" alt="Person Name">
    </div>
</div>
 -->